<!-- Footer -->
<footer class="footer style1">
    <div class="footer-top">
        <div class="container">
            <div class="footer--inner">
                <div class="wptb-banner3">
                    <div class="row align-items-center">
                        <!-- Left Box -->
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                            <div class="wptb-heading">
                                <div class="wptb-item--inner">
                                    <h6 class="wptb-item--subtitle">
                                        <img src="assets/img/bullet.svg" />
                                        IF YOUR CAR NEEDS A WASH AND FRESH SHINE
                                    </h6>
                                    <h1 class="wptb-item--title"> GIVE A CALL TO BigBoyTurbo</h1>
                                </div>
                            </div>
                        </div>

                        <!-- Right Box -->
                        <div class="col-lg-6 col-md-6">
                            <div class="d-flex align-items-center gap-4">
                                <div class="wptb-image-single wow fadeInUp d-none d-lg-block">
                                    <div class="wptb-item--inner">
                                        <div class="wptb-item--image">
                                            <img src="assets/img/more/1.png" alt="img">
                                        </div>
                                    </div>
                                </div>

                                <div class="wptb-icon-box1 live-chat">
                                    <div class="wptb-item--inner flex-start">
                                        <div class="wptb-item--icon">
                                            <img src="assets/img/chat-icon.svg" alt="img">
                                        </div>
                                        <div class="wptb-item--holder">
                                            <p class="wptb-item--description">Need Help</p>
                                            <h5 class="wptb-item--title"> <a href="https://wa.me/919787437055">+ 91 978
                                                    743
                                                    7055</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 mb-5 mb-xl-0">
                        <div class="logo mr-bottom-30">
                            <a href="index.html" style="width: 60px;height: 60px;" class="light_logo"><img
                                    src="assets/img/logo.png" alt="logo"><span class="logo-text"><span
                                        style="color: #fff;">BIGBOY</span>TURBO</span></a>
                            <!-- <a href="index.html" class=""><img src="assets/img/logo.svg" alt="logo"></a> -->
                        </div>

                        <div class="wptb-icon-box1 footer-contact-style mr-bottom-30">
                            <div class="wptb-item--inner flex-start">
                                <div class="wptb-item--holder">
                                    <p class="wptb-item--description">Call Us Anytime</p>
                                    <h5 class="wptb-item--title"><a href="tel:9787437055">+ 91 9787437055</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="wptb-icon-box1 footer-contact-style address mr-bottom-30">
                            <div class="wptb-item--inner flex-start">
                                <div class="wptb-item--holder">
                                    <p class="wptb-item--description">VISIT OUR LOCATION</p>
                                    <h5 class="wptb-item--title">Plot No. 184, Sector 17, Ulwe
                                        Navi Mumbai – 410206</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 offset-xl-1">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">

                                    <h5 class="widget-title">Our Services</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="#">CAR DETAILING</a></li>
                                            <li class="menu-item"><a href="#">FOAM WASHING</a></li>
                                            <li class="menu-item"><a href="#">DISEL WASHING</a></li>
                                            <li class="menu-item"><a href="#">SHAMPOO WASHING</a></li>
                                            <li class="menu-item"><a href="#">INTERIOR VACUUMING</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">

                                    <h5 class="widget-title">Useful Links</h5>
                                    <div class="footer-nav">
                                        <ul>
                                            <li class="menu-item"><a href="#">ABOUT BigBoyTurbo</a></li>
                                            <li class="menu-item"><a href="#">MEMBERSHIP DETAILS</a></li>
                                            <li class="menu-item"><a href="#">OPENNING HOURS</a></li>
                                            <li class="menu-item"><a href="#">EXPERT MECHANICS</a></li>
                                            <li class="menu-item"><a href="#">CONTACT US</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 mb-5 mb-md-0">
                                <div class="footer-widget footer-links">

                                    <h5 class="widget-title">Newsletter</h5>
                                    <form class="newsletter-form" method="post">
                                        <div class="form-group mr-bottom-25">
                                            <input type="email" name="email" class="form-control"
                                                placeholder="Enter your email" required>
                                        </div>
                                        <button type="submit" class="btn-three">
                                            <span class="btn-wrap">
                                                <span class="text-first">Subscribe</span>
                                                <span class="text-second">Subscribe</span>
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright">
                    <p>&copy;Copyright 2025 <a href="https://bigboyturbo.com">BigBoyTurbo</a>.
                        All
                        rights reserved</p>
                </div>
                <div class="social-box">
                    <ul>
                        <!-- <li><a href="https://www.facebook.com/" class="bi bi-facebook"></a></li>
                        <li><a href="https://www.instagram.com/" class="bi bi-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/" class="bi bi-linkedin"></a></li>
                        <li><a href="https://www.behance.com/" class="bi bi-behance"></a></li> -->
                        <li><a target="_blank" href="https://www.instagram.com/big.boy.turbo/"
                                class="bi bi-instagram"></a></li>
                        <li><a target="_blank" href="https://wa.me/919787437055" class="bi bi-whatsapp"></a></li>
                    </ul>
                </div>
                <div class="footer-nav-bottom">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="totop">
    <a href="#"><i class="bi bi-chevron-up"></i></a>
</div>